  <div class="row">
    <div class="col-xs-12">
      <h1>{{ primaryItem.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddtoSecondaryList()" style="cursor: pointer;">Add Item</a></li>
          <li><a style="cursor: pointer;" (click)="onEditPrimaryItem()">Edit Item</a></li>
          <li><a style="cursor: pointer;" (click)="onDeletePrimaryItem()">Delete Item</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ primaryItem.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let secondaryItem of primaryItem.secondaryItems">
          {{ secondaryItem.name }} - {{ secondaryItem.amount }}
        </li>
      </ul>
    </div>
  </div>
  